@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vh; */
    box-shadow: 0 0 10px #000;
    background-color: #fff;
    position: absolute;
    top: 0;
    margin-bottom: 5vh;
    z-index: 1;
}

.nav {
    width: 100%;
    height: 100px;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vh; */
    box-shadow: 0 0 10px #000;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    /* margin-bottom: 5vh; */
}

.nav-brand {
    margin-left: 5vh;
}

.nav-brand {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 5vh;
    width: 100%;
}

nav .nav-links a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    margin-left: 2rem;
}

nav .nav-links a:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: auto; */
    overflow-y: scroll;
    /* padding: 15vh 0; */
    margin: 15vh 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.left-pane h1 {
    font-size: 70px;
}

.row-one {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#getStarted {
    font-size: 25px;
}

.nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav-brand {
    margin-left: 5vh;
}

.nav .nav-brand {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.nav .nav-links {
    margin-right: 5vh;
}

.nav .nav-links a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    margin-left: 2rem;
}

.nav .nav-links a:hover {
    text-decoration: underline;
}

.file-container {
    margin: 20px;
}

.card {
    width: 100%;
    margin: auto;
}

.card-body {
    padding: 20px;
    width: 100%;
}

.card-title {
    color: #333;
}

.post-details {
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 2vh;
    /* margin-top: 5vh; */
}

.btn-primary:hover {
    background-color: #0056b3;
}

.tabLinks:hover {
    background-color: #0056b3;
}

.tabContent {
    position: absolute;
    transform: translateY(50%);
    display: none;
    /* margin: 50vh 0; */
}

.tab-container {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30vh 0;
    margin-top: -10vh;
    height: 50vh;
    /* overflow-x: hidden; */
}

.tabLinks1 {
    width: 50%;
    padding: 20px 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: black;
    border-right: 1px solid #dddddd;
}

.tabLinks2 {
    width: 50%;
    padding: 20px 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: black;
    border-left: 1px solid #dddddd;
}

.tabLinks1:hover,
.tabLinks2:hover {
    background-color: #dddddd;
    color: black;
}

.tabLinks1:focus,
.tabLinks2:focus {
    background-color: #007bff;
    color: white;
}

.tab-container #notes {
    /* transform: translateX(0px); */
    display: block;
}

.music-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2vh 3vw;
    flex: 50%;
}

svg {
    margin-right: 0.5vw;
}

#hamburgerIcon {
    display: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vh 0;
    width: 100%;
    overflow-x: none;
    background-color: #000;
    color: white;
}

.firstColumn a {
    color: #000;
}

.middleColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.middleColumn a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* gap: 2px; */
}

.importantLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-container {
    margin: 5vh 0;
    width: 400px;
    background: white;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #000000;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group textarea {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #000000;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder {
    opacity: 0.7;
}

.form-container .form-group input:focus {
    outline: none;
    box-shadow: 5px 5px 50px #000;
    border: none;
}

.form-container .form-group textarea::placeholder {
    opacity: 0.7;
}

.form-container .form-group textarea:focus {
    outline: none;
    box-shadow: 5px 5px 50px #000;
    border: none;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #fff;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.4s;
}

/* .contactForm {
    margin: 0;
} */

.form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #313131;
    color: #313131;
}

@media screen and (max-width: 800px) {
    #hamburgerIcon {
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
    }

    .nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .nav-brand {
        margin-top: auto;
        margin-bottom: auto;
    }

    .nav-links {
        /* display: none; */
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /* overflow: hidden; */
        z-index: 995;
        /* overflow: visible; */
        margin-top: 25vh;
    }

    .nav-links a {
        margin: 1vh 0;
    }

    #mobileFriendlyHeader {
        width: 100%;
    }

    #musicFrame {
        width: 50;
        height: 25;
    }
}

/* table {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid black;
    position: absolute;
    top: 50%;
}

tr,
td {
    text-align: center;
    padding: 0 3vh;
    border: 1px solid black;
} */

.credit {
    background-color: black;
    width: 100%;
    /* height: 1vh; */
    color: #fff;
    padding-bottom: 10vh;
}

.credit a {
    color: #fff;
}

.dashboard-card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0);
    border: 1px solid transparent;
}

.dashboard-card a {
    text-decoration: none
}

.dashboard-content {
    padding: 1.1rem;
}

.dashboard-image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
}

.title {
    color: #111827;
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
}

.action span {
    transition: .3s ease;
}

.action:hover span {
    transform: translateX(4px);
}